body {
  /* font-family: 'Poppins', sans-serif; */
  font-family: macha,sans-serif;
}

html {
  scroll-behavior: smooth;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


/* home-image */
.home-image {
  position: relative;
  height: 72vh;
  /* height: 325px; */
}

.home-overlay {
  position: absolute;
  top: 0;
  opacity: 0.45;
  z-index: 3;
  width: 100%;
  height: 100%;
  background-color: #141618;
}
.product-overlay{
  position: absolute;
  color: #fff;
  z-index: 10;

}
.product-overlay-mobile{
  display: none;
  position: absolute;
  color: #fff;
  z-index: 10;
}
@media (max-width:576px) {
  .product-overlay{
    display: none;

  }
  .product-overlay-mobile{
    display: block;
  }
}
.product-hcrr{
  left: 15%;
  top: 75vh;
}
.product-dmr{
  left: 50%;
  transform: translateX(-50%);
  top: 81vh;
}
.product-sdr{
  right: 18%;
  top:85vh;
}
/* home page-sector */
.home-page-sectorareas {
  width: 100%;
  max-width: 1440px;
  margin: 120px auto;
  /* padding: 0 20px; */
  background-repeat: no-repeat;
    width: 100%;
    background-position: center;
    background-size: cover;
    position: relative;
}
.home-page-sectorareas-overlay{
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  background-color: #000;
  opacity: 0.5;
}

.contentBox-sector {
  /* background-color: #fff; */
  border-radius: 3px;
  padding: 50px 45px;
  -webkit-box-shadow: 0 2px 9px -5px #000;
  position: relative;
  box-shadow: 0 2px 9px -5px #000;
}
a,a:hover{
  text-decoration: none;
}


.sector-home-heading {
  position: relative;
  padding-left: 0;
  font-size: 48px;
  color:#fff;
  margin-bottom: 10px;
  padding-left: 20px;
}

.ics-sector-home .subtitle {
  margin-top: 20px;
  color: #fff;
}

.ics-sector-home h1::before {
  position: absolute;
  content: '';
  display: block;
  width: 5px;
  height: auto;
  background-color: #1D58A8;
  left: 0;
  top: 0;
  bottom: 0
}

.sector-box {
  /* width: 33.333333%; */
  padding: 3px;
  margin: 0;
  display: flex;
  /* margin-top: 50px; */
}

.sector-box-areas {
  display: inline-block;
  width: 100%;
   background-color: rgba(249, 249, 249, 0.5);
   /* background-color: rgba(85, 96, 105, 0.5); */
  border: 1px solid #e2e2e2;
  border-radius: 3px;
  padding: 30px 0;
  text-align: center;
  text-decoration: none;
  transition: 350ms;
}
.sector-box-areas:hover{
  text-decoration: none;
}
.sector-box-line {
  display: block;
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  height: 2px;
  width: 40px;
  background-color: #d6d6d6;
  margin: 15px 0 15px 0;
  transition: all 500ms cubic-bezier(.68, -.55, .265, 1.55);
  visibility: visible;
  opacity: 1;
}

.sector-box-text {
  font-weight: 400;
  color: #414655;
}

.sector-icons {
  color: #000;
  font-size: 60px !important;
}

.sector-image {
  width: 100%;
  height: 100%;
  background: url(../images/icsexcels/1.jpg);
  border: 5px solid #e2e2e2;
  border-radius: 5px;
  background-size: cover;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.sector-img-wrap {
  position: relative;
  height: 550px;
}

.sector-img-overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  background-color: #000000;
  opacity: 0.3;
  z-index: 1;
}

.sector-content-wrap {
  position: absolute;
  z-index: 2;
  top: 50%;
  transform: translateY(-50%);
  padding: 0 80px;
  width: 100%;
  text-align: center;
}

.sector-content-icons {
  color: #fff;
  font-size: 60px !important;
}

.sector-content-heading {
  color: #fff;
  font-weight: 700;
  padding: 5px 0;
  font-size: 40px;
}

.line {
  height: 2px;
  width: 90px;
  display: block;
  margin: auto;
  background-color: #1D58A8;
}

.sector-content-para {
  padding-top: 10px;
  color: #fff;
}

/* about us home */
.aboutus-home {
  /* text-align: center; */
  display: block;
  margin: 0 auto;
  width: 100%;
  max-width: 1440px;
  /* margin: 120px auto; */
  padding: 0 20px;
}

.globe {
  display: flex;
  justify-content: center;
  align-items: center;
}

.about-ics-para {
  margin-top: 20px;
}

.about-bg-home-page {
  background-image: url(../images/homeabout.jpg);
  background-attachment: fixed;
  background-repeat: no-repeat;
  height: 500px;
  background-position: center;
  background-size: cover;
}

.home-about-bg {
  margin-top: 120px;
  position: relative;
}

/* .ics-services-home {
  position: absolute;
  color: #fff;
  text-align: center;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
} */

.black-background {
  width: 100%;

  background-color: #141618;
  display: flex;
  padding: 50px;
  justify-content: center;
  align-items: center;
}

/* history */
.history-container {
  text-align: center;
}

.history-para {
  color: #ffffff;
}

.history-value {
  color: #1d6fa8;
  margin-bottom: 5px;
}

/* ics advantage */
.advantage-background {
  background-image: url('../images/ics-advantage.jpg');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: scroll;
  position: relative;
}

.advantage-overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  background-color: #ffffff;
  opacity: 0.9;
}

.advantage-content {
  padding: 120px 30px;
  color: #777;
  position: relative;
  display: block;
  margin: 0 auto;
  max-width: 700px;
  width: 100%;
}

/* footer */
.copyrights {
  background-color: #000000;
  padding: 10px;
  color: #ffffff;
  font-size: 0.875rem;
}

.footer {
  padding: 15px 10px 0px 10px;
  background-color: #1b1d1f;
  color: #ffffff;
}

.footer-contact {
  text-align: center;
  font-size: 1.5rem;
}

.contact-footer-column {
  display: flex;
  justify-content: center;
  align-items: center;
}

.contact-info-list {
  list-style-type: none;
  font-size: 0.8rem;
}

.contact-icon-footer {
  padding-right: 5px;
}
.map-text{
  margin-bottom: 0.5rem;
}
/* scroll top icon */
.style-light {
  background-color: #303133;
  position: fixed;
  right: 22px;
  bottom: 22px;
  display: none;
  opacity: 0;
}

.scroll-up-icon {
  color: #fff;
  border-radius: 2px;
  width: 2em;
  text-align: center;
  height: 1.5em;
  line-height: 2em;
}

.footer-scroll-top {
  opacity: 1;
  display: block;
  animation-name: alpha-in;
  animation-duration: .5s
}
@keyframes alpha-in {
  0%{
    opacity: 0;
  }
  100%{
    opacity: 1;
  }

}
.social-icons{
  position: fixed;
  top: 70%;
  right: 0;
  z-index: 5;
  text-align: center;
}
.social-icons-listtype{
  list-style-type: none;
}
.social-icon{
  color: #fff;
}
.social-icon-box{
  background-color: #1D58A8;
  padding: 12px;
  transition: 0.5s transform ease;
}
.social-icon-box:hover{
  background-color: #1d6fa8;

}


/* owl carousel */
.owl-carousel{
  position: relative;
}
.owl-nav button {
  position: absolute;
  top: 50%;
  background-color: #000;
  color: #fff;
  margin: 0;
  transition: all 0.3s ease-in-out;
}
/* carousel previous and next buttons */
.owl-nav button.owl-prev {
  left: 30px;
top: 50%;
z-index: 5 !important;
  color:#fff !important;
  font-size: 30px !important;
  transition:  left 0.1s ease-in-out;
  background-color: transparent !important;
}
/* .owl-nav button.owl-prev:hover{
  left: 20px !important;

} */

.owl-nav button.owl-next {
  right: 30px;
  color:#fff !important;
  top: 50%;
  z-index: 5;
  font-size: 30px !important;
  background-color: transparent !important;
}
/* carousel indicators */
.owl-dots {
  text-align: center;
  position: absolute;
bottom: 45px;
left: 50%;
transform: translateX(-50%);
}

.owl-dots button.owl-dot {
  width: 8px;
  height: 8px;
  border-radius: 50%;
  display: inline-block;
  background: #ccc;
  margin: 0 3px;
}

.owl-dots button.owl-dot.active {
  background-color: #fff;
  transform: scale(1.3);
}

.owl-dots button.owl-dot:focus {
  outline: none;
}

.owl-nav button {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
    background: rgb(255, 255, 255);
  background: rgba(255, 255, 255, 0.38) !important;
}
.owl-nav button:focus {
  outline: none;
}

/* button.owl-prev.disabled,button.owl-next.disabled{
  color: #808080 !important;
} */

.owl-carousel .owl-item img {
    height: 72vh;
    /* height: 325px; */
    object-fit: cover;
    object-position: center ;
}
.slider-home{
  position: relative;
  overflow: hidden;
}
.home-overlay-content{
  position: absolute;
  width: 100%;
top: 50%;
left: 50%;
/* opacity: 0; */
color: #fff;
z-index: 5;
text-align: center;
transition: opacity 0.4s ease-in-out;
transform: translate(-50%,-50%);
}
.home-overlay-line{
  background-color: #1D58A8;
  display: block;
    margin: 36px auto;
}
.home-overlay-text{
  font-size: 4.25rem;
color: #fff;
padding: 18px 36px;
z-index: 1;
position: relative;
font-weight: 600;
text-align: center;


}
.home-overlay-button{
  margin-top: 36px;
  display: inline-block;
    font-size: 12px;
    padding: 13px 31px !important;
    font-style: normal !important;
    text-align: center;
    vertical-align: middle;
    margin-top: 1px;
    margin-bottom: 1px;
    border: 1px solid #777;
    color: #777;
    text-decoration: none;
    cursor: pointer;
    background-image: none;
    border-radius: 2px;
    outline: none;
    transition: color .2s ease-in-out,background-color .2s ease-in-out,border-color .2s ease-in-out;

}
.home-overlay-button:hover{
  background-color: #777;
  text-decoration: none;
  color: #fff;
}
.home-overlay-content.fadeup{
  /* opacity: 1; */
  animation: fadebottom 1s  1 ;
  transition: opqcity 1s all,top 1s ease-in;
}
@keyframes fadebottom {
  0%{
    opacity: 0;
    top: 40%;

  }
  100%{
opacity: 1;
    top: 50%;
  }
}



.block{
  width: 100%;
  height: 100%;
  height: 500px;
  position: relative;
  overflow: hidden;
  font-size: 16px;
}

.img-parallax {
  width: 100vmax;
  z-index: -1;
  position: absolute;
  top: 0;
  left: 50%;
  transform: translate(-50%,0);
  pointer-events: none
}
.sector-img-wrap{
  display: none;
}
.sector-img-wrap.visible{
  display: block;
}
.clients-list{
  display: flex;
  transform: translateX(0%);
		position: relative;
		animation: marquee 20s ease-out infinite;


    /* justify-content: center; */
}
.img-responsive{
  margin: 0 1vw;
}
.ics-services-home{

    overflow: hidden;
    padding: 20px 0;
    position: relative;
    width: 90%;
    margin: 0 auto;
}
.clients-list:hover{
  animation-play-state: paused;
}

@keyframes marquee {
	0%   { transform: translateX(0%); }
	100% { transform: translateX(-100%); }
}
/* .carousel-inner .carousel-item.active {
  display: flex;
} */
/* .carousel-inner .carousel-item-right.active {
  transform: translateX(33.333%);
}

.carousel-inner .carousel-item-left.active{
  transform: translateX(-33.333%);
} */
/* .home-page-sectorareas{
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
} */
canvas {
  width: 100%;
  height: 100%;
}


/* vertical pills */
.features .v-tabs .v-tab-head a, .features .v-tabs a.v-tab-head {
  color: #292929;
  cursor: pointer;
  display: block;
  padding: 15px 30px 15px 15px;
  border-right: 1px solid #1D58A8;
  margin: 0;
  text-align: right;
}

.features .v-tabs .v-tab-head a {
  position: relative;
  display: block;
  /* color: #777; */
  color:#2f2c5a;
  text-align: left;
}

.features .v-tabs .v-tab-head a.active {
  color: #1D58A8;
}
.features .v-tabs .v-tab-head a.active1{
  color: #1D58A8;
}

.features .v-tabs .v-tab-head a.active::after, .features .v-tabs .v-tab-head a.active::before {
  content: "";
  border-style: solid;
  border-width: 15px;
  position: absolute;
  right: 0;
  top: 15px;
  transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  -webkit-transform: rotate(90deg);
  -o-transform: rotate(90deg);
  -moz-transform: rotate(90deg);
}
.features .v-tabs .v-tab-head a.active1::after, .features .v-tabs .v-tab-head a.active1::before {
  content: "";
  border-style: solid;
  border-width: 15px;
  position: absolute;
  right: 0;
  top: 15px;
  transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  -webkit-transform: rotate(90deg);
  -o-transform: rotate(90deg);
  -moz-transform: rotate(90deg);
}

.features .v-tabs a.v-tab-head {
  display: none;
}

.features .v-tabs .v-tab-head a.active::before {
  border-color: #1D58A8 transparent transparent;
}

.features .v-tabs .v-tab-head a.active::after {
  margin-right: -1px;
  border-color: #faf8f5 transparent transparent;
}
.features .v-tabs .v-tab-head a.active1::before {
  border-color: #1D58A8 transparent transparent;
}

.features .v-tabs .v-tab-head a.active1::after {
  margin-right: -1px;
  border-color: #faf8f5 transparent transparent;
}
.features .v-tabs a.v-tab-head {
  border: none;
  padding: 15px 0;
  text-align: left;
  position: relative;
}

.features .v-tabs a.v-tab-head:after {
  color: #e2dcd6;
  content: "\f054";
  font-family: FontAwesome;
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
}

.features .v-tabs a.v-tab-head.active::after {
  color: #1D58A8;
  content: "\f078";
}
.features .v-tabs a.v-tab-head.active1::after {
  color: #1D58A8;
  content: "\f078";
}

@media screen and (max-width: 576px) {
  .v-tab-head {
    display: none;
  }

  .features .v-tabs a.v-tab-head {
    display: block;
  }
}

.list-icon-text-vertical-tabs {
  font-size: 14px;
  color: #000;
  padding: 10px;
  border-bottom: 1px solid #eaeaea;
}

.feature-list-vertical-tabs {
  padding-left: 30px;
  color: #000;
}
/* custom-scroll-bar */
.custom-scroll-bar{
  height: 300px;
  overflow: auto;
}
.custom-scroll-bar-two{
  height: 400px;
  overflow: auto;
}
::-webkit-scrollbar {
    width: 8px;
}
::-webkit-scrollbar-track {
    background: #1D58A8;
    border-radius: 2px;
}
::-webkit-scrollbar-thumb {
    background:rgba(128,128,128,1);
    border-radius: 4px;
}

.custom-scroll-bar::-webkit-scrollbar-track {
    background-color: #000;
}
.custom-scroll-bar::-webkit-scrollbar-thumb {
    background-color: #1D58A8;
}

/* custom solutions fixed scroll */
#sticky.stick{
    position: fixed;

    z-index: 10;
    /* top:60vh; */
}



.bg-blue-top{
  background-color: #1d58a8;
  height: 25vh;
  display: flex;
    /* justify-content: center;
    align-items: center; */
    position: relative;

}

.bg-img-center{
  width:100%;
  max-width: 60px;
  height: 100%;
  max-height: 60px;
  position: absolute;
  top: 5px;
  left: 50%;
  transform: translateX(-50%);

  border-radius: 50%;
  box-shadow:5px 5px 10px #202b3a;
}
